:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}
* {
    box-sizing: inherit;
}
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--main-white);
}
.header{
    height: 70px;
    background-color: var(--main-red);
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
}
.header-nav-list{
    list-style: none;
    display: flex;
    justify-content:flex-end;
}
.header-nav-item-link{
    text-decoration: none;
    color: var(--main-white);
    font-size: 22px;
    margin-right: 30px;
    padding: 10px;
    line-height: 33px;
}
.slider{
    margin-top: 70px;
}
.slider-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.slider-content h1{
    color: var(--main-white);
    font-weight: 700;
    font-size: 60px;
    margin: 0;
}
.slider-content p{
    color: var(--main-red);
    font-weight: 200;
    font-size: 40px;
    font-style: italic;
}
.project{
    background-color: var(--main-blue);
    padding-bottom: 100px;
}
.project-title h2{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px auto;
    border-bottom: 2px solid var(--main-white);
    padding: 110px 0 15px; 
    width: 642px;
    font-size: 42px;
}
.project-product-link{
    display: block;
    margin-bottom: 35px;
}
.link-item-img{
    width: 100%;
}
.fixed{
    max-width: 384px;
}
.link-item-title{
    background-color: var(--main-gray);
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 68px;
    font-size: 20px;
}
.link-item-title p{
    color:var(--main-white);
    margin: 0;
}
.code{
    color: var(--main-white);
    display: none;
    padding: 0 5px;
}
.project-product-link:hover .code{
    display: block;
    color: #ff7f50;
}
.show-all{
    display: flex;
    justify-content: center;
}
.btn{
    width: 146px;
    height: 48px;
    color: var(--main-white);
    background-color: var(--main-gray);
    border: 1px solid var(--main-gray);
    font-size: 20px;
    text-align: center;
}
.btn:hover{
    background-color: var(--main-red);
}
.contact{
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.contact-content{
    padding: 284px 0;
}
.contact-content h1{
    margin: 0;
    text-align: center;
    font-size: 60px;
}
.contact-content p{
    text-align: center;
    margin: 29px 0 0 0;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
}
.contact-content-list{
    display: flex;
    justify-content: center;  
    margin: 0;  
    list-style: none;
}
.contact-content-list-item{
    margin: 56px 20px 0 20px;
    font-size: 24px;
}
.contact-content-list-item i{
    margin-right: 5px;
}